.input-container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  height: 110px;
  width: 350px;

  label {
    font-size: large;
    padding: 0 2px;
  }

  input {
    padding: 10px;
    border: 1px solid rgb(0, 0, 0, 0.38);
    border-radius: 5px;
    margin: 10px 0;
    outline: none;

    &:focus {
      border: 1px solid rgb(0, 140, 255, 1);
    }

    &:invalid {
      border: 1px solid #ff0000;
    }
  }

  p {
    color: #ff0000;
    padding: 0 2px;
    font-size: small;
  }

  @media (min-width: 576px) {
    width: 300px;
    height: 100px;
    padding: 8px;
  }
  label {
    font-size: "medium";
  }

  input {
    padding:  8px;
  }


}
